<!DOCTYPE html>
<html>
<body>
  <div>
    <div>
      <h1><%= title %></h1>
      <p>Check it out!!!<p>
    </div>
    <div>
      <form action="/" method="POST">
      <input type="text" placeholder="Add an Item" name="todos">
      <button type="submit">Submit</button>
      </form>
    </div>
  </div>
</body>
</html>