<!DOCTYPE html>
<html>
<body>
  <div>
    <div>
      <h1><%= title %></h1>
      <p>Check it out!!!<p>
    </div>
    <div>
      <form action="/add" method="POST">
      <input type="text" placeholder="Add an Item" name="todos">
      <div><button type="submit">Add</button></div>
      </form>
    </div>
    <div>
      <form action="/edit" method="PATCH">
      <div><button type="submit">Edit</button></div>
      </form>
    </div>
    <div>
      <form action="/delete" method="DELETE">
      <div><button type="submit">delete</button></div>
      </form>
    </div>
  </div>
</body>
</html>